.header {
  background-color: cornflowerblue;
  text-align: center;
}

.about-me {
  font-size: 20px;
  opacity: 50%;
}

.title {
  font-weight: bold;
}

h1 {
  color: azure;
  border: 2px dotted white;
  margin: 1em auto;
  width: 35%;
}
  


body {
  font-family: georgia;
  background-image: url(https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png);  
}

img {
  padding-top: 40px;
}


