.hover {
  border: 2px solid black;
  border-radius: 5%;
  width: auto;
  height: auto;
}

.see {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
}



@media (hover: hover) {
  
  .see {
    display: none;
  }

  .hover:hover ~ .see {
    display: block;
  }
}

